@use '../../../assets/styles/shared';

.submenu-block {
  height: shared.$header-main-height;
  font-size: 13px;
  line-height: 16px;
  position: fixed;
  z-index: 49;
  display: flex;
  align-items: flex-end;
  
  &.hide-block {
    display: none;
  }

  a {
    cursor: pointer;

    &.is-active {
      font-weight: shared.$header-sub-font-weight-hover;
    }

    &:hover {
      font-weight: shared.$header-sub-font-weight-hover;
    }

    &::before {
      font-weight: shared.$header-sub-font-weight-hover;
    }
  }
}
