@import "../../assets/styles/shared";

.header {
  background-color: #ffffff;
  height: $header-height;
  // line-height: 2.5rem;
  padding: 0 $container-indent 0 $container-indent;
  position: fixed;
  width: 100%;
  z-index: 50;
  

  %menu-links {
    
    ul {
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        color: $header-color;
        font-size: 1.2rem;
        line-height: 2.5rem;
        list-style: none;
        margin: 0;
        padding: 1rem 2rem 1rem 1rem;

        a {
          color: inherit;

          &.is-active {
            border-bottom: 1px solid $header-color;
          }
        }

        &.home-link > a {
          border: 0;
          font-size: 1.5rem;
          font-weight: bold;

          &:hover {
            border: 0;
          }
        }
      }
    }

    a {
      &:hover {
        border-bottom: 1px solid $header-color;
        text-decoration: none;
      }
    }
  }

  .logo {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: $container-indent;

    div {
      width: 100%;

      img {
        height: 75px;
      }
    }
  }
  
  .menu {
    @extend %menu-links;

    height: 100%;

    &.underscore {
      border-bottom: 2px solid #eee;
    }
    
    width: $container-width;

    ul {
      li {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .language {
    @extend %menu-links;

    height: 100%;
    position: absolute;
    right: 0;

    text-align: center;
    width: $container-indent;
  }
}
