@import "../../assets/styles/shared";

// TODO: remove commented out code
.header {
  background-color: #ffffff;
  color: $header-color;
  width: 100%;
  height: $header-main-height;
  padding: 0 $container-indent 0 $container-indent;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;

  &.expand {
    height: $header-full-height;
  }
  
  .header-block {
    width: 100%;
    height: $header-main-height;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
  

  div {
    li {
      list-style: none;
    }
  }

  
  %menu-links {
    color: $header-color;
    font-family: 'GothicA1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    
    ul {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 100;

      li {
        color: $header-color;
        list-style: none;
        margin: 0;
      }
    }

    a {
      color: inherit;
      position: relative;
      z-index: 100;
      text-decoration: none;

      &.is-active {
        color: $header-color-active;
      }

      &:hover {
        color: $header-color-hover;
        text-decoration: none;
      }

      &::before {
        display: block;
        content: attr(title);
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
  
  .menu {
    @extend %menu-links;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px 0 10px;
    
    width: $container-width;

    ul {
      gap: 45px;
    }
  }

  .language-container {
    @extend %menu-links;
    text-align: center;
    gap: 25px;

    .social-networks {
      gap: 12px;
    }
    
    a {
      &.is-active {
        font-weight: $header-main-font-weight-hover;
      }
  
      &:hover {
        font-weight: $header-main-font-weight-hover;
      }
  
      &::before {
        font-weight: $header-main-font-weight-hover;
      }
    }
  }
}
