@import "../../assets/styles/shared";

.header {
  height: $header-height;
  line-height: 2.5rem;

  %menu-links {
    
    ul {
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        color: $header-color;
        font-size: 1.2rem;
        list-style: none;
        margin: 0;
        padding: 1rem 2rem 1rem 1rem;

        a {
          color: inherit;

          &.is-active {
            border-bottom: 1px solid $header-color;
          }
        }

        &.home-link > a {
          border: 0;
          font-size: 1.5rem;
          font-weight: bold;

          &:hover {
            border: 0;
          }
        }
      }
    }

    a {
      &:hover {
        border-bottom: 1px solid $header-color;
        text-decoration: none;
      }
    }
  }

  .logo {
    width: $content-indent;
    text-align: center;

    div {
      padding-left: 20px;
      width: 100%;
    }
  }
  
  .menu {
    @extend %menu-links;

    border-bottom: 2px solid #eee;
    margin: 0 1rem 0 1rem;
    width: $content-width;

    ul {
      li {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .language {
    @extend %menu-links;

    text-align: center;
    width: $content-indent;
  }
}
