@import "../../assets/styles/shared";

.gallery-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 0;

  .img-container {
    padding: 0 0 30% 0;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    width: 30%;

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
