@import "../../assets/styles/shared";

.gallery-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 0;

  .img-card {
    margin-bottom: 2rem;

    .img-container {
      padding: 0 0 100% 0;
      margin-bottom: 1rem;
      overflow: hidden;
      position: relative;
      width: 100%;

      img {
        // height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .img-text {
      // position: relative;
      // top: -50%;
      // color: yellow;
      z-index: 100;
      text-align: center;
      width: 100%;
    }
  }
}
