@import "../../assets/styles/shared";

.gallery-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 0;

  .img-card {
    margin-bottom: 2rem;

    .img-container {
      padding: 0 0 100% 0;
      margin-bottom: 1rem;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:hover {
        .img-text-over {
          display: flex;
        }
      }

      img {
        // height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .img-text-over {
        align-items: center;
        background: #ffffffcc;
        display: none;
        font-size: 1.5vw;
        font-weight: 600;
        justify-content: center;
        height: 100%;
        left: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        z-index: 100;
        width: 100%;

        & > div {
          text-align: center;
        }
      }
    }

    .img-text-below {
      z-index: 100;
      text-align: center;
      width: 100%;
    }
  }
}
