@import "../../../assets/styles/shared";

.project-details {
  .main-image {
    position: relative;

    img {
      aspect-ratio:  1920 / 587;
      height: auto;
      object-fit: fill;
      object-position: center;
      width: 100%;
      pointer-events: none;
    }
  }

  .project-info {
    margin: 2.1em auto;
    width: $project-detail-content-width;

    .project-title {
      h4 {
        color: #333333;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1.333333em;
        margin-bottom: 1.3em;
      }
    }

    .project-text {
      font-weight: 400;
      font-size: 1em;
      line-height: 1.25em;
      margin-bottom: 1.3em;
      text-align: justify;
      white-space: pre-line;
    }

    .project-specifications {
      display: flex;
      justify-content: flex-start;
      gap: 1.47em;

      .specification-name, .specification-value {
        display: flex;
        flex-direction: column;
      }

      .specification-name {
        font-weight: 700;
      }
    }

    .edit-project-info-button {
      margin-top: 10px;
    }
  }
  
  .add-image-block-button {
    width: 100%;

    button {
      width: 100%;
    }
  }
  
  .images {
    .image-data-container {
      margin: 1em auto 2.1em auto;
      width: $project-detail-content-width;

      .image {
        position: relative;

        img {
          width: 100%;
          pointer-events: none;
        }
      }
      
      .image-title {
        margin-top: 10px;
        text-align: center;
        text-transform: lowercase;
        font-size: .85em;
        letter-spacing: .25em;
      }

      .image-description {
        margin: 1em auto 0 auto;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.25em;
        margin-bottom: 1.3em;
        text-align: justify;
        white-space: pre-line;
      }
    }
  }

  .back-to-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;

    .back-to-top-text {
      line-height: .9em;
      
      &:hover {
        line-height: 1em;
        text-decoration: underline;
      }
    }
  }
}