@import "../../assets/styles/shared";

.footer {
  height: $footer-height;
  margin-top: 1rem;
  padding: 0 $container-indent 0 $container-indent;
  width: 100%;
  
  .footer-container {
    border-top: 2px solid #eee;
    height: 100%;
    width: 100%;
    
    p {
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
    }
    
    a {
      padding: 3px;
    }
  }
  
}
