@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/shared";
@import "./assets/styles/fonts";

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  color: $main-color;
  font-family: $main-font-family;
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: $main-font-family;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.flex-child {
  flex: 1;
}