$main-color: #707070;
$secondary-color: #333333;
$main-font-family: 'GothicA1';
$main-font-size: 15px;

$container-width: 100%;
$container-indent: 50px;

$header-color: #707070;
$header-color-active: #333333;
$header-color-hover: $header-color-active;
$header-full-height: 105px;
$header-main-height: 79px;
$header-main-font-weight-hover: 700;
$header-sub-font-weight-hover: 600;

$footer-height: 75px;

$main-page-width: 100%;
$main-page-height: calc(100vh - #{$header-main-height});

$gallery-space-between: 7px;