$main-color: #444;

$container-width: 100%;
$container-indent: 50px;

$header-color: #707070;
$header-color-active: #333;
$header-color-hover: $header-color-active;
$header-full-height: 105px;
$header-main-height: 79px;
$header-secondary-height: calc($header-full-height - $header-main-height);

$footer-height: 75px;

$main-page-width: 100%;
$main-page-height: calc(100vh - #{$header-main-height});