$hover-color: #ffffffbb;

.slider-button {
  background: transparent;
  border: 0;
  // border: 1px solid $button-colors;
  // borderRadius: 50%;
  color: #ffffff80;
  // height: 11px;
  // marginLeft: 8px;
  // marginRight: 8px;
  margin: 0 5px;
  overflow: hidden;
  // textAlign: center;
  // width: 11px;

  &:hover {
    color: $hover-color;
    transform: scale(1.3);
  }

  &:focus {
    outline: none;
  }

  & > span {
    bottom: 15px;
    color: inherit;
    font-size: 40px;
    font-weight: bold;
    position: relative;

    &:hover {
      color: $hover-color;
    }
  }
}
